.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #1e1e2f;
    -fx-text-fill: white;
}
.label{



}
.loginBox{
-fx-background-color: "black";



}
.welcomeText{
-fx-text-fill: white;



}
.statusLabel{
-fx-text-fill: white:
-fx-font-weight: bold;
}